@import url('https://fonts.googleapis.com/css?family=Questrial');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  height: 40%;
}

.did-the, .mets-logo, .hit-a-homerun {
  font-size: 60px;
  margin-bottom: 20px;
}

img {
  height: 200px;
}

.yes-or-no {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 70px;
  color: #FC4C00;
}

.homerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homer {
  padding: 3px;
  margin: 2%;
  width: 75%;
  border: 1px solid orange;
}
