@import url('https://fonts.googleapis.com/css?family=Questrial');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  min-height: 100vh;
  width: 100%;
  font-family: 'Karla', sans-serif;
}

.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  min-height: 40%;
}

.did-the, .mets-logo, .hit-a-homerun {
  font-size: 60px;
  margin-bottom: 20px;
  max-width: 100%;
}

img {
  height: 200px;
}

.yes-or-no {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 70px;
  color: #FC4C00;
}

.homerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homer {
  padding: 3px;
  margin: 2%;
  width: 75%;
  border: 1px solid orange;
}

.terry {
  margin-top: 10px;
}


@media (max-width: 736px) {
  .question-container {
    margin-top: 10px;
  }

  .did-the, .hit-a-homerun {
    font-size: 50px;
  }

  .yes-or-no {
    margin-top: 2%;
  }
}
